{% cache globally %}
<header role="banner">
	<a id="skip-to-content" href="#content">skip to main content</a>
	<a href="{{ siteUrl }}">
		{% for image in header.headerLogo %}
    	<img src="{{ image.getUrl }}" alt="{{ image.title }}">
    {% endfor %}
	</a>

	{% endcache %}
	{% cache globally %}
	<nav role="navigation">
		<br>
		<br>
		<br>
				<ul>
					<li>
						<a href="{{ url('basic-class') }}">Basic Class</a>
					</li>
					<li>
						<a href="{{ url('advancedClass') }}">Advanced Class</a>
					</li>
					<li>
						<a href="{{ url('about') }}">About</a>
					</li>
      	</ul>
	</nav>
	{% endcache %}
</header>
