{% extends '_layout_wide' %}
{% block content %}
  <h1>{{ entry.heading }}</h1>
  <ul style="list-style-type:none !important">
    {% for course in craft.entries.section('courses').all() %}
      <a class="small button" href="{{ course.url }}">{{ course.title }}</a>
    {% endfor %}
  </ul>
{% endblock %}
