/craft/config/general.php
/craft/config/db.php

**/.sass-cache/
**/node_modules/
**/cpresources/
*.css.map
.DS_Store
/httpdocs/package-lock.json
/craft/plugins
/craft/storage/logs
/.env
/.idea
**/.DS_Store
