/craft/config/general.php
/craft/config/db.php
/httpdocs/assets/img/uploads/

**/.sass-cache/
**/node_modules/
**/cpresources/
*.css.map
.DS_Store
/httpdocs/package-lock.json
/craft/plugins
/craft/storage/logs
/.env
/.idea
**/.DS_Store
/craft/vendor/composer/composer/doc/fixtures/repo-composer-with-providers/p/provider-active$1893a061e579543822389ecd12d791c612db0c05e22d90e9286e233cacd86ed8.json
