<footer class="group" role="contentinfo">
	<div class="footer-inner">
		<div class="footer-contact-information">
			{{ footer.body }}
			<div class="footer-supplemental">
				{% for block in footer.hyperlink.all() %}
					<a href="{{ block.linkUrl }}">{{ block.linkText }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="footer-logo">
			<img src="{{ siteUrl }}assets/img/ui/Kent-State-Logo-White.svg" alt="Kent State Logo" />
		</div>
	</div>
</footer>
