{% extends "_layout" %}


{% block content %}

    <h1> {{ entry.subheadline }} </h1>

    <section>
		<h2>Course Materials</h2>
		<div class="gallery-container">
			<dl class="gallery carousel">
        <ul>
           {% for block in entry.relatedLinksAndDownloads %}
               {% if block.linkName == 'Syllabus' %}
                   <li><a href="{{ block.internalUrl }}"> {{ block.linkName }}</a></li>
               {% elseif block.linkName == 'Calendar' %}
                   <li><a href="{{ block.internalUrl }}"> {{ block.linkName }}</a></li>
               {% elseif block.linkName == 'Assignments' %}
                   <li><a href="{{ block.internalUrl }}"> {{ block.linkName }}</a></li>
               {% elseif block.linkName == 'Groups' %}
                   <li><a href="{{ block.internalUrl }}"> {{ block.linkName }}</a></li>
               {% endif %}
           {% endfor %}
       </ul>
			</dl>
		</div>
	</section>
	<section class="main-content-area">
		<section>
			<h2>Announcements</h2>
			<div class="blog-posts group">

			</div>
			<a class="small button" href="/blog">View All Announcements</a>
		</section>
	</section>
	<aside role="complementary">
		<section class="basic-information">
		<h2>Registration Details</h2>
			<dl class="detail-listing group">
				<dt>Instructor:</dt>
				<dd>Christopher Hallahan and David Roll</dd>
				<dt>Terms:</dt>
				<dd>Fall 2018 (2 Sections)</dd>
				<dt>Undergrad:</dt>
				<dd>CCI 46001-001/002 - 11708/21459 (F-2018)</dd>
				<dt>Grad:</dt>
				<dd>CCI 56001-001/002 - 11709/21460 (F-2018)</dd>
				<dt>Day/Time:</dt>
				<dd>Tuesdays, 5:30 p.m. - 8:15 p.m. or Tuesday/Thursday, 11 a.m. - 12:25 p.m.</dd>
				<dt>Room:</dt>
				<dd><a href="http://www.ideabasekent.com/directions">IdeaBase</a>, Downtown Kent or Taylor Hall, 331</dd>
			</dl>
		</section>
		<section class="about-course">
				<h2>About the Course</h2>
				<p>In Kent State University's basic Responsive Web Design course, you will learn the fundamental principles for developing standards-based web sites from a mobile-first and content-first perspective and ensure its functionality for users in terms of both usability and performance.</p>
		</section>
	</aside>

{% endblock %}
