{% if craft.entries.section('courses').count() == 1 %}
  {% redirect craft.entries.section('courses').one().url %}
{% endif %}

{% extends '_layout_wide' %}

{% block content %}
  <h1>{{ entry.heading }}</h1>
  <ul style="list-style-type:none !important">
    {% for courseType in craft.categories.group('courseTypes').all() %}
      <h2>{{ courseType.title }}</h2>
      {% for course in craft.entries.section('courses').relatedTo(courseType).orderBy('elements.dateCreated asc').all() %}
        <a class="small button" href="{{ course.url }}">{{ course.title }}</a>
      {% endfor %}
    {% endfor %}
  </ul>
{% endblock %}
